<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Add Note</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col *ngIf="currentCase.linked_cases.length>0" size-md="6" class="ion-margin-top d-flex">
        <ion-label class="ion-align-self-center">Select Linked case</ion-label>
        <ion-item class="w-50" lines="none">
          <ion-select multiple="true" [(ngModel)]="selectedLinkCaseIds" (ionChange)="onLinkCaseSelectChange()" okText="Okay"
            cancelText="Dismiss" placeholder="Select linked case">
            <ion-select-option [value]="linkCase.id" *ngFor="let linkCase of currentCase.linked_cases,let i=index">
              {{linkCase.id}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-item class="w-100" lines="none">
        <ion-textarea [(ngModel)]="note" rows="10" placeholder="Note" required></ion-textarea>
      </ion-item>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-button [disabled]="note?.length<1 || btnDisabled" color="secondary" (click)="save()">
        Save
      </ion-button>
      <ion-button color="secondary" (click)="cancel()">
        Cancel
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>