<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Cards</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class=" ion-margin-top" >
    <ion-item color="secondary" class="bg-main" (click)="toggleShow(showCards?.addCard)"
      ng-class="{active: isShown(showCards?.addCard)}">
      <ion-label>
        <h2>Add New Card</h2>
      </ion-label>
      <ion-icon slot="end"
        [name]="isShown(showCards?.addCard) ? 'chevron-up-sharp':'chevron-down-sharp'">
      </ion-icon>
    </ion-item>
    <ion-grid id="addCard" class="ion-no-border"
      [hidden]="!isShown(showCards?.addCard)">
      <form [formGroup]="addCardForm" name="addCardForm">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating">CardHolder Name <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="card_name"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Card Number <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" formControlName="card_number"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Card Expiry <ion-text color="danger">*</ion-text>
            </ion-label>  
            <ion-datetime displayFormat="MM/YY" pickerFormat="MM YYYY" [min]="datemin" [max]="datemax" formControlName="card_expiry"></ion-datetime>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Card CVC <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" formControlName="card_cvc"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Address Line 1<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="address_ln1"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Address Line 2
            </ion-label>
            <ion-input type="text" formControlName="address_ln2"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Debtor Postcode <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="post_code"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Town <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="text" formControlName="town"></ion-input>
          </ion-item>
        </ion-list>
  
        <div class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-button expand="block" type="submit" [disabled]="this.addCardForm.invalid" (click)="save()">Save
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" type="button" (click)="dismiss()">Close</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </ion-grid>
  </div>

  <div class=" ion-margin-top">
    <ion-item color="secondary" class="bg-main" (click)="toggleShow(showCards?.cardList)"
      ng-class="{active: isShown(showCards?.cardList)}">
      <ion-label>
        <h2>Card List</h2>
      </ion-label>
      <ion-icon slot="end"
        [name]="isShown(showCards?.cardList) ? 'chevron-up-sharp':'chevron-down-sharp'">
      </ion-icon>
    </ion-item>
    <ion-grid id="cardList" class="ion-no-border"
      [hidden]="!isShown(showCards?.cardList)">
      <ion-row>
        <ion-col size="2">
          <span>Id</span>
        </ion-col>
        <ion-col size="4" class="text-nowrap">
          <span>Last Digits</span>
        </ion-col>
        <ion-col size="4" class="text-nowrap">
          <span>Expiry Date</span>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let card of savedCardList,let i=index"
        [ngClass]="{'bg-row-dark':i%2==0}">
        <ion-col size="2" class="text-color-light">
          <span>{{card.value.id}}</span>
        </ion-col>
        <ion-col size="4" class="text-color-light">
          <span>{{card.value.last_digits}}</span>
        </ion-col>
        <ion-col size="4" class="text-color-light">
          <span>{{card.value.expiry_date}}</span>
        </ion-col>
        <ion-col size="2">
          <ion-icon (click)="delete(card.value.id)" name="trash"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>