<ion-header>
  <ion-toolbar>
    <ion-title>Add New Card</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-margin-top">
    <form [formGroup]="addCardForm" name="addCardForm">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">CardHolder Name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="text" formControlName="card_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Card Number <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="number" formControlName="card_number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Card Expiry <ion-text color="danger">*</ion-text>
          </ion-label>  
          <ion-datetime displayFormat="MM/YY" pickerFormat="MM YYYY" [min]="datemin" [max]="datemax" formControlName="card_expiry"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Card CVC <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="number" formControlName="card_cvc"></ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit" [disabled]="this.addCardForm.invalid" (click)="save()">Save
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" type="button" (click)="dismiss()">Close</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
  </div>

</ion-content>