.bg-hold {
    background-color: #ffcfcf !important;
}
.joblist-card {
    h3 {
        display: inline-block;
        color: #000;
        font-weight: 600;
        width: 80%;
    }
    ion-col {
        span {
            color: #000;
        }
    }
}
.w-12 {
    width: 12%;
}
.text-color-light {
    color: #726e72 !important;
  }