<ion-header class="shadow">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>#{{caseId}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="jsonObject" class="formio-wrapper">
    <formio [form]="jsonObject" #formObj (render)="onRender($event)" (change)="onChange($event)" (nextPage)="onNext($event)"
      [options]="formConfig.options" (submit)="onSubmit($event)" #formObj></formio>
  </div>
</ion-content>