<ion-header>
  <ion-toolbar>
    <ion-title>FieldAgent v3.0</ion-title>
    <ion-buttons slot="start" [routerLink]="['/login']">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" [routerLink]="['/add-server-setting']">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nickname</th>
          <th class="width-35">URL</th>
          <th>Active</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let setting of settings">
          <td>{{setting.nickname}}</td>
          <td>{{setting.url}}</td>
          <td>
            <ion-toggle mode="md" (ionChange)="changeServer(setting)" [(ngModel)]="setting.active"></ion-toggle>
          </td>
          <td>
            <ion-button size="small" color="light" (click)="deleteServer(setting)">
              <ion-icon name="trash-outline" color="secondary"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>