#scheduleArrangements,
#inActiveArrangements {
    ion-col {
        border-bottom: 1px solid #ddd;
    }
    ion-icon {
        font-size: x-large;
    }
}
.bg-row-dark {
    background-color: #f9f9f9;
}
.text-nowrap {
    white-space: nowrap;
}
