<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons  slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="m-t-20">
  <ion-row>
    <ion-col>
      <div class="dashboard-icon" [routerLink]="['/job-list']">
        <div>
          <img src="../../assets/image/icons8-briefcase.svg">
        </div>
        <ion-label>Job List</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="dashboard-icon" [routerLink]="['/job-list']">
        <div>
          <img src="../../assets/image/icons8-combo-chart-100.png">
        </div>
        <ion-label>Visit Reports</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="dashboard-icon" [routerLink]="['/job-list']">
        <div>
          <img src="../../assets/image/icons8-google-maps.svg">
        </div>
        <ion-label>Map View</ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div class="dashboard-icon" [routerLink]="['/job-list']">
        <div>
          <img src="../../assets/image/icons8-new-post-100.png">
        </div>
        <ion-label>My Inbox</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="dashboard-icon" [routerLink]="['/job-list']">
        <div>
          <img src="../../assets/image/icons8-document.svg">
        </div>
        <ion-label>Documents</ion-label>
      </div>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>