.bg-main {
  --ion-background-color: #d4d2d2;
  color: #342e32;
}
.text-color-light {
  color: #726e72 !important;
}
.card-title-bg {
  --ion-background-color: #f1f1f1;
}
.history-bg {
  background-color: #f1f1f1;
}
.highlight {
  background-color: #ffff00 !important;
}
.searchbar-clear-icon {
  display: none !important;
}
.medium-contrast {
  color: var(--ion-color-medium-contrast);
}
ion-select {
  width: 100%;
  max-width: 100%;
}

// for ion-slect color to secondary
.alert-radio-label {
  white-space: pre-line !important;
}
[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-secondary);
}
[aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
  border-color: var(--ion-color-secondary) !important;
}
[aria-checked="true"].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
  color: var(--ion-color-secondary) !important;
}
.alert-radio-inner {
  background-color: var(--ion-color-secondary) !important;
}
.alert-button {
  color: var(--ion-color-secondary) !important;
}
