<ion-header class="shadow">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>#{{currentCaseData.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="currentCaseData">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8"  size-sm="12" size-xs="12">
        <ion-card class="m-0">
          <ion-card-header>
            <ion-card-subtitle><b>QUICK INFO</b></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-sm="6"  size-xs="12">
                  <span class="d-block dark"><b>Debtor Details</b></span>
                  <span class="d-block color-primary">Debtor Name</span>
                  <span class="d-block"><b>{{currentCaseData.debtor?.debtor_name}}</b></span>
                  <hr>
                  <span class="d-block color-primary">Address</span>
                  <span *ngFor="let address of currentCaseData.debtor?.addresses,let i=index">
                    <span class="d-block"><b>{{address.address_ln1}}
                      {{address.address_ln2 ? ', ' +address.address_ln2 : ''}}
                      {{address.address_ln3 ? ', ' +address.address_ln3 : ''}}
                      {{address.address_town ? ', ' +address.address_town : ''}}
                      {{address.address_postcode ? ', ' +address.address_postcode : ''}}</b>
                    </span>
                    </span>
                  <hr>
                  <span class="d-block color-primary">Contact</span>
                  <span class="d-block"><b>{{currentCaseData.debtor?.debtor_mobile}}</b></span>
                  <hr>
                  <span class="d-block dark mt-15"><b>Offense Details</b></span>
                  <ng-container *ngFor="let data of getCaseSchemeSpecificData">
                    <span class="d-block color-primary">{{data.label}}</span>
                    <span class="d-block"><b>{{data.value ? data.value : '-'}}</b></span>
                    <hr>
                  </ng-container>
                </ion-col>
                <ion-col size-sm="6"  size-xs="12">
                  <span class="d-block dark"><b>Case Details</b></span>
                  <span class="d-block color-primary">Client Reference</span>
                  <span class="d-block"><b>{{caseDetails.caseSummary.clientRef}}</b></span>
                  <hr>
                  <span class="d-block color-primary">Client Name</span>
                  <span class="d-block"><b>{{caseDetails.caseSummary.clientName}}</b></span>
                  <hr>
                  <span class="d-block color-primary">Scheme</span>
                  <span class="d-block"><b>{{caseDetails.caseSummary.scheme}}</b></span>
                  <hr>
                  <span class="d-block color-primary">Stage</span>
                  <span class="d-block"><b>{{caseDetails.caseSummary.stage}}</b></span>
                  <hr>
                  <span class="d-block color-primary">Status</span>
                  <span class="d-block"><b>{{caseDetails.caseSummary.status}}</b></span>
                  <hr>
                  <span class="d-block color-primary">Last visit date</span>
                  <span class="d-block"><b>{{caseDetails.caseSummary.lastVisitDate ? caseDetails.caseSummary.lastVisitDate: '-'}}</b></span>
                  <hr>
                  <ng-template *ngIf="fromVrmSearch">
                    <span class="d-block color-primary">Agent Name</span>
                    <span class="d-block"><b>{{caseDetails.caseSummary.officer?.name}}</b></span>
                    <hr>
                  </ng-template>
                </ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4"  size-sm="12" size-xs="12">
        <ion-card class="m-0">
          <ion-card-header>
            <ion-card-subtitle><b>FINANCIALS</b></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <span class="d-block dark"><b>Client</b></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <hr>
                  <span class="d-block dark mt-15"><b>Fees (inc. vat)</b></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <hr>
                  <span class="d-block dark mt-15"><b>Total (inc. client, fees and vat)</b></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                  <span class="list-item-inline"><span class="color-primary">Amount Due</span><span><b>{{caseDetails.financialDetails.client?.total | number:'0.2-2'}}</b></span></span>
                </ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-list lines="none">
    <!-- case financial Details starts -->
    <div class="ion-margin-top">
      <ion-item class="bg-main" (click)="toggleShow(caseDetails.financialDetails)"
        ng-class="{active: isShown(caseDetails.financialDetails)}">
        <ion-label>
          <h2>Financials</h2>
        </ion-label>
        <ion-icon slot="end" [name]="isShown(caseDetails.financialDetails) ? 'chevron-up-outline':'chevron-down-sharp'">
        </ion-icon>
      </ion-item>
      <ion-grid class="ion-no-border detial-cover" [hidden]="!isShown(caseDetails.financialDetails)">
        <ion-row>
          <ion-col size-md="3">
            <ion-card>
              <!-- Client  Data Start  -->
              <ion-item class="card-title-bg">
                <ion-card-title>Client Balance</ion-card-title>
              </ion-item>

              <ion-card-content>
                <ion-item>
                  <ion-label>Amount Due:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.client?.total | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Collected:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.client?.paid | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Cleared:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.client?.cleared | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Paid Out:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.client?.paidout | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Outstanding:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.client?.current_outstanding | number:'0.2-2'}}
                  </span>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-- Client Data End -->
          <!-- Fee Data Start-->
          <ion-col size-md="3">
            <ion-card>
              <ion-item class="card-title-bg">
                <ion-card-title>Fees Net</ion-card-title>
              </ion-item>

              <ion-card-content>
                <ion-item>
                  <ion-label>Amount Due:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.fees?.total | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Fees Collected :</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.fees?.paid | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Fees Cleared:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.fees?.cleared | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Fees Paid Out :</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.fees?.paidout | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Fee outstanding:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.fees?.current_outstanding | number:'0.2-2'}}
                  </span>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-- Fee Data End -->
          <!-- Total Data Start-->
          <ion-col size-md="3">
            <ion-card>
              <ion-item class="card-title-bg">
                <ion-card-title>Grand Total</ion-card-title>
              </ion-item>

              <ion-card-content>
                <ion-item>
                  <ion-label>Amount Due:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.totals?.total | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Collected:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.totals?.paid | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Cleared:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.totals?.cleared | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Amount Paid Out :</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.totals?.paidout | number:'0.2-2'}}
                  </span>
                </ion-item>
                <ion-item>
                  <ion-label>Current outstanding:</ion-label>
                  <span class="text-color-light">
                    {{caseDetails.financialDetails.totals?.current_outstanding | number:'0.2-2'}}
                  </span>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-- Total Data End -->
          <!-- Linked Case Data  -->
          <ion-col size-md="3" *ngIf="currentCaseData.linked_cases && currentCaseData.linked_cases.length">
            <ion-card>
              <ion-item class="card-title-bg">
                <ion-card-title>Linked Cases</ion-card-title>
              </ion-item>

              <ion-card-content>
                <div class="d-flex ion-justify-content-between">
                  <ion-item>
                    <span>Case Id</span>
                  </ion-item>
                  <ion-item>
                    <span>Outstanding</span>
                  </ion-item>
                </div>
                <div class="d-flex ion-justify-content-between"
                  *ngFor="let linked_case of currentCaseData.linked_cases">
                  <ion-item>
                    <span class="text-color-light">
                      {{linked_case.id}}
                    </span>
                  </ion-item>
                  <ion-item>
                    <span class="text-color-light">
                      {{linked_case.d_outstanding | number:'0.2-2'}}
                    </span>
                  </ion-item>
                </div>
                <div class="d-flex ion-justify-content-between">
                  <ion-item>
                    <span class="text-color-light">
                      Total
                    </span>
                  </ion-item>
                  <ion-item>
                    <span class="text-color-light">
                      {{linkedTotal | number:'0.2-2'}}
                    </span>
                  </ion-item>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- case financial Details ends -->

    <!-- case history starts -->
    <div class="ion-margin-top">
      <ion-item class="bg-main" (click)="toggleShow(caseDetails.history)"
        ng-class="{active: isShown(caseDetails.history)}">
        <ion-label>
          <h2>History</h2>
        </ion-label>
        <ion-icon slot="end" [name]="isShown(caseDetails.history) ? 'chevron-up-outline':'chevron-down-sharp'">
        </ion-icon>
      </ion-item>
      <ion-grid class="ion-no-border detial-cover ion-margin-bottom " [hidden]="!isShown(caseDetails.history)">
        <ion-row class="ion-justify-content-end">
          <ion-col size-md="4">
            <ion-item lines="none">
              <ion-searchbar class="p-y-0 p-x-0" [value]="searchBarValue" (input)="onInput($event)"
                placeholder="Search..">
              </ion-searchbar>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="history-bg mt-1 pt-1 pl-1" *ngFor="let history of historyFilterData">
          <ion-col size-md="8" size="12">
            <ion-label>Action:</ion-label>
            <span class="text-color-light ion-margin-start"
              [innerHTML]="history.action | highlight:searchBarValue"></span>
          </ion-col>
          <ion-col class="d-flex" size-md="4" size="12">
            <ion-label>Date:</ion-label>
            <div class="text-color-light ion-margin-start" [innerHTML]="history.time | highlight:searchBarValue">
            </div>
          </ion-col>
          <ion-col size-md="8" size="12" *ngIf="history.note">
            <ion-label>Note:</ion-label>
            <span class="text-color-light ion-margin-start"
              [innerHTML]="history.note | highlight:searchBarValue"></span>
          </ion-col>
          <ion-col size-md="4" size="12" *ngIf="history.attachment">
            <ion-label>Attachment:</ion-label>
            <span class="text-color-light ion-margin-start">
              <a [href]="history.attachment" target="_blank">Download</a></span>
          </ion-col>
          <ion-col size-md="4" size="12" *ngIf="history.type == 'EA Added Visit Form' && history.document_id > 0">
            <ion-label>Details:</ion-label>
            <span class="text-color-light ion-margin-start">
              <ion-button size="small" color="secondary" (click)='showVisitDetails(history)'>Details</ion-button>
            </span>
          </ion-col>
          <ion-col size-md="12" size="12" *ngIf="history.user?.name">
            <ion-label>Name:</ion-label>
            <span class="text-color-light ion-margin-start">{{history.user?.name}}</span>
          </ion-col>
        </ion-row>
        <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-grid>
    </div>
    <!-- case history ends -->
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="3">
        <ion-item *ngIf="!fromVrmSearch">
          <ion-select [(ngModel)]="SelectedAction" (ionFocus)="onSelectChange($event)" value="" okText="Okay"
            cancelText="Dismiss">
            <ion-select-option disabled="true" value="">Select an Action</ion-select-option>
            <ion-select-option [value]="action" *ngFor="let action of actions">{{action}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>