.bg-main {
  // --ion-background-color: #f5f5f5;
  // color: #342e32;
  // border-radius: 4px;
  // border: 1px #342e32 solid;
  color: black;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  --ion-background-color: #f7f7f7;
  border-bottom: 1px solid #dee2e6;
}
.text-color-light {
  color: #726e72 !important;
}
.card-title-bg {
  --ion-background-color: #f7f7f7;
}
.history-bg {
  // background-color: #f1f1f1;
  border: 1px #dee2e6 solid;
  border-radius:  calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.detial-cover {
  margin-top: 4px;
  padding: 8px;
  margin-left: 0px;
  border: 1px solid #dee2e6 !important;
}
.highlight {
  background-color: #ffff00 !important;
}
.searchbar-clear-icon {
  display: none !important;
}
.medium-contrast {
  color: var(--ion-color-medium-contrast);
}
ion-select {
  width: 100%;
  max-width: 100%;
}

// for ion-slect color to secondary
.alert-radio-label {
  white-space: pre-line !important;
}
[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-secondary);
}
[aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
  border-color: var(--ion-color-secondary) !important;
}
[aria-checked="true"].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
  color: var(--ion-color-secondary) !important;
}
.alert-radio-inner {
  background-color: var(--ion-color-secondary) !important;
}
.alert-button {
  color: var(--ion-color-secondary) !important;
}

.d-block{
  display: block;
}

hr {
  box-sizing: border-box;
  height: 1px !important;
  width: 100% !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
  margin: 5px 0;
  background: #e8e8e8;
}

.color-primary{
  color: #ce5092;
}

.m-0{
  margin: 0;
}

.dark{
  color: #000000;
  margin-bottom: 10px;
}

.mt-15{
  margin-top: 15px;
}

.list-item-inline{
  display: flex;
  justify-content: space-between;
}