<ion-toolbar color="medium">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon color="secondary" slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Field Agent</ion-title>
</ion-toolbar>

<ion-content>

  <!-- sort toolbar -->

  <ion-toolbar color="light">
    <ion-grid class="p-y-0">
      <ion-row class="searchbar-wrpper">
        <ion-col size-md="4" size-xs="12">
          <p class="toolbar-title">
            Job List
          </p>
        </ion-col>
        <ion-col size-md="3" size-xs="5">
          <ion-select interface="popover" class="cst-select" okText="Okay" cancelText="Dismiss" placeholder="Select Frequency">
            <ion-select-option class="text-wrap">Postcode Prefix</ion-select-option>
            <ion-select-option class="text-wrap">Name</ion-select-option>
          </ion-select>
        </ion-col>
        <p class="toolbar-label">
          Sort by
        </p>
        <ion-col size-md="3" size-xs="5">
          <ion-select interface="popover" class="cst-select" okText="Okay" cancelText="Dismiss" placeholder="Select Frequency">
            <ion-select-option class="text-wrap">Postcode Prefix</ion-select-option>
            <ion-select-option class="text-wrap">Name</ion-select-option>
          </ion-select>
        </ion-col>
        <div class="dashboard-btn-wrapper">
          <ion-button size="small" color="primary">
            <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- sort toolbar -->

  <!-- table -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:5%"></th>
          <th style="width:5%"></th>
          <th style="width:10%">Case ID</th>
          <th style="width:15%">Ref</th>
          <th style="width:20%">Name/Trading</th>
          <th style="width:10%">Amount</th>
          <th style="width:13%">Postcode</th>
          <th style="width:7%">Davs</th>
          <th style="width:10%">Details</th>
          <th style="width:10%">Report</th>
        </tr>
      </thead>
      <tbody>
        <tr class="no-border">
          <td>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </td>
          <td>
            <ion-checkbox checked="true" mode="md" color="secondary" slot="start"></ion-checkbox>
          </td>
          <td>51234</td>
          <td>PCN1234</td>
          <td>Brandon Larson</td>
          <td>100.23</td>
          <td>GL527JU</td>
          <td>3</td>
          <td class="action ">
            <ion-button size="small" color="secondary">
              Details
            </ion-button>
          </td>
          <td class="action">
            <ion-button size="small" color="tertiary">
              Report
            </ion-button>
          </td>
        </tr>
        <tr class="linked-case">
          <td class="p-x-0 p-y-0" colspan=10>
            <div>
              <h4>Linked cases</h4>
              <table class="table">
                <tr class="no-border">
                  <th style="width:2%"></th>
                  <th style="width:2%"></th>
                  <th style="width:10%">Case ID</th>
                  <th style="width:15%">Ref</th>
                  <!-- <th>Name/Trading</th> -->
                  <th style="width:10%">Amount</th>
                  <th style="width:15%">Offence Date</th>
                  <th style="width:13%">Date</th>
                  <th style="width:13%">Expiry Date</th>
                  <th style="width:10%">Details</th>
                  <th style="width:10%">Report</th>
                </tr>
                <tr class="no-border">
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>51234</td>
                  <td>PCN1234</td>
                  <td>654865</td>
                  <td>2020-12-8</td>
                  <td>2020-12-8</td>
                  <td>2020-12-8</td>
                  <td class="action ">
                    <ion-button size="small" color="secondary">
                      Details
                    </ion-button>
                  </td>
                  <td class="action">
                    <ion-button size="small" color="tertiary">
                      Report
                    </ion-button>
                  </td>
                </tr>
                <tr class="no-border">
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>51234</td>
                    <td>PCN1234</td>
                    <td>654865</td>
                    <td>2020-12-8</td>
                    <td>2020-12-8</td>
                    <td>2020-12-8</td>
                    <td class="action ">
                      <ion-button size="small" color="secondary">
                        Details
                      </ion-button>
                    </td>
                    <td class="action">
                      <ion-button size="small" color="tertiary">
                        Report
                      </ion-button>
                    </td>
                  </tr>
              </table>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </td>
          <td>
            <ion-checkbox mode="md" color="secondary" slot="start"></ion-checkbox>
          </td>
          <td>51234</td>
          <td>PCN1234</td>
          <td>Brandon Larson</td>
          <td>100.23</td>
          <td>GL527JU</td>
          <td>1</td>
          <td class="action ">
            <ion-button size="small" color="secondary">
              Details
            </ion-button>
          </td>
          <td class="action">
            <ion-button size="small" color="tertiary">
              Report
            </ion-button>
          </td>
        </tr>
        <tr>
          <td>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </td>
          <td>
            <ion-checkbox checked="true" mode="md" color="secondary" slot="start"></ion-checkbox>
          </td>
          <td>51234</td>
          <td>PCN1234</td>
          <td>Brandon Larson</td>
          <td>100.23</td>
          <td>GL527JU</td>
          <td>1</td>
          <td class="action ">
            <ion-button size="small" color="secondary">
              Details
            </ion-button>
          </td>
          <td class="action">
            <ion-button size="small" color="tertiary">
              Report
            </ion-button>
          </td>
        </tr>
        <tr>
          <td>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </td>
          <td>
            <ion-checkbox mode="md" color="secondary" slot="start"></ion-checkbox>
          </td>
          <td>51234</td>
          <td>PCN1234</td>
          <td>Brandon Larson</td>
          <td>100.23</td>
          <td>GL527JU</td>
          <td>1</td>
          <td class="action ">
            <ion-button size="small" color="secondary">
              Details
            </ion-button>
          </td>
          <td class="action">
            <ion-button size="small" color="tertiary">
              Report
            </ion-button>
          </td>
        </tr>
        <tr>
          <td>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </td>
          <td>
            <ion-checkbox mode="md" color="secondary" slot="start"></ion-checkbox>
          </td>
          <td>51234</td>
          <td>PCN1234</td>
          <td>Brandon Larson</td>
          <td>100.23</td>
          <td>GL527JU</td>
          <td>1</td>
          <td class="action ">
            <ion-button size="small" color="secondary">
              Details
            </ion-button>
          </td>
          <td class="action">
            <ion-button size="small" color="tertiary">
              Report
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- table -->



</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="secondary" expand="full">Show 2 cases on Map</ion-button>
  </ion-toolbar>
</ion-footer>