<ion-header>
  <ion-toolbar>
    <ion-title>Panic</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon (click)="changeSoundSetting()" size="large" slot="end" [name]="volumeClass"></ion-icon>
  </ion-item>




  <ion-grid>
    <ion-row size="3" class="ion-margin-top ion-justify-content-center">
      <div class="position-relative">
        <div class="current" [ngStyle]="getOverlayStyle()">
          {{10 - progress}}
        </div>
        <round-progress class="progressRound" [current]="progress" [max]="10" [color]="'#cc0092'"
          [background]="'#eaeaea'" [radius]="radius" [stroke]="20" [rounded]="true" [clockwise]="true" [duration]="10"
          [animation]="'easeInOutQuart'" [animationDelay]="0">
        </round-progress>
      </div>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-col size="3">
        <ion-buttons class="ion-justify-content-center">
          <ion-button size="small" shape="round" fill="solid" [disabled]="isPause" color="secondary"
            (click)="pausePanicCounter()">
            Pause
          </ion-button>
          <ion-button size="small" shape="round" fill="solid" [disabled]="isStart" color="secondary"
            (click)="startPanicCounter()">
            Start
          </ion-button>
          <ion-button size="small" shape="round" fill="solid" color="secondary" (click)="dismiss()">Cancel
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>