.current {
  position: absolute;
  color: #000;
  font-weight: 100;
  line-height: 1;
}
.position-relative {
  position: relative;
}
.body-top-border {
  border-top: 1px solid #bdb8b8bf;
}
ion-select {
  width: 100%;
  max-width: 100%;
}
ion-row {
  ion-textarea {
    border: solid 1px #e1dee0;
    border-radius: 5px;
    padding: 10px;
  }
}

// //radio button in select color secondary
.alert-radio-label {
  white-space: pre-line !important;
}
[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-secondary) !important;
}
[aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
  border-color: var(--ion-color-secondary) !important;
}
[aria-checked="true"].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
  color: var(--ion-color-secondary) !important;
}
.alert-radio-inner {
  background-color: var(--ion-color-secondary) !important;
}
.alert-button {
  color: var(--ion-color-secondary) !important;
}
