/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.p-y-0{
  padding-top: 0!important;
  padding-bottom: 0!important;
} 

.p-x-0{
  padding-left: 0!important;
  padding-right: 0!important;
}

html{
    font-family: 'Raleway';
  }
  
  .header-md:after{
      display: none;
  }

 ion-toolbar {
    border-bottom: 1px solid #d8d8d8;
  }

  .searchbar-wrpper{
    display: flex;
    align-items: center;
    position: relative;
  
    ion-select,ion-input{
      text-align: left;
      background: #fff;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 10px;
      --padding-start:10px;
     
    }
    .toolbar-label{
      font-size: 14px;
      padding-right: 5px;
      color: grey;
      font-weight: normal;
      padding-left: 5px;
    }
    ion-item{
      --background:transparent;
    }
  }

  .dashboard-btn-wrapper{
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .toolbar-title{
    font-weight: 600;
    font-size: 16px;
  }

// table css

  .table {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #ffff;
    border-collapse: collapse;
    thead{
      background-color: #f9f9f9;
      th{
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
        color: #8d898d;
        font-size: 12px;
        font-weight: normal;
      }
    }
    td{
      color: #898588;
      font-size: 14px;
    }
    .action{
      padding: 5px 0;
      ion-button{
        width: 85%;
      }
    }
ion-icon{
  font-size: 17px;
}

}

.table tr{
  border-bottom: 1px solid #dee2e6;
}

.no-border{
  border: 0!important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
 
  text-align: left;
}

.linked-case{
  tr:nth-of-type(even) {
    background-color: #fff!important;
  }
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


// table css


ion-footer{
  ion-button{
    width: 300px;
    margin: 15px auto;
    --border-radius:10px;
  }
}


