<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-list id="inbox-list">
      <ion-list-header>Jdunbar</ion-list-header>
      <ion-note>https://aylesbury.nodea.lateral1.com/</ion-note>
      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/home/dashboard']" lines="none" detail="false">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/home/job-list']" lines="none" detail="false">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          <ion-label>Job List</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/home/map']" lines="none" detail="false">
          <ion-icon slot="start" name="map-outline"></ion-icon>
          <ion-label>Map View</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-menu>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirmLogout()">
        <ion-icon size="large" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img *ngIf="logo" class="logo"  [src]="logo"></ion-img>
    <ion-title *ngIf="!logo">Field Agent</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>

</ion-app>